---
import '../styles/preflight.css'
import '../styles/global.css'
import '../styles/fonts.css'
import { HomeIcon, CaretRightIcon } from '@radix-ui/react-icons'
import { styles } from '../styles/pages/index.css'
---

<html lang="jp">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <header></header>
    <main>
      <div class={styles.pageTitleBlock}>
        <span class="">
          <HomeIcon />
          <CaretRightIcon />
          <span>EWC history</span>
        </span>
        <h1>EWC 2022</h1>
      </div>
      <section></section>
    </main>
    <footer></footer>
  </body>
</html>
