---
import '../styles/preflight.css'
import '../styles/global.css'
import '../styles/fonts.css'
---

<!-- <html lang="jp">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <header></header>
    <main>
     
    </main>
    <footer></footer>
  </body>
</html> -->
